@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans&family=Plus+Jakarta+Sans:wght@500&family=Unbounded:wght@700&display=swap");

#income {
    padding-left: 1.5rem;
}

#income .row {
    margin-top: 3rem;
    padding-right: 5rem;
}

#income h4 {
    font-family: "Unbounded", cursive;
}

#income .btn-print {
    background-color: #191a34;
    color: white;
    border-radius: 0;
    font-family: "Unbounded", cursive;
    width: 100%;
    padding: 0.5rem 2rem;
}
